/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.game-container {
  margin: 10px 30px;
}

.locked {
  display: none;
}

.game-container p span {
  margin: 0px 10px;
}

#reset-button {
  margin-left: 500px;
}
