/* GLOBAL STYLES */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#page-content {
  display: grid;
  grid-template: 1fr 6fr 4fr / 1fr;
  max-width: 100%;
  width: 100vw;
  height: 100vh;
}

#game-data {
  background-color: #000000dd;
  width: 100vw;
  /* height: 100px; */
  color: white;
}

#image-tile {
  background-image: url("./assets/images/Scoured\ Shire.jpeg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  /* height: 40vh; */
  max-width: 100%;
}

.game-container {
  margin: 10px 10px;
  padding: 20px;
  background-color: #ffffff80;
}

.locked {
  display: none;
}

.game-container p span {
  margin: 0px 10px;
}

#toggle-music {
  margin-left: 80vw;
}

#reset-button {
  margin-left: 500px;
}

/* TODO: 
- Background (which changes dependent on number of hobbits or upgrades). Ensure updates are persistent with page reloads.
- Style buttons
- Align upgrade values under headings (table? grid? flex?) - may have to sort out in the JS. 
- Perhaps add a tooltip to explain about the upgrades
- Keep responsiveness and different devices in mind when designing the above (and anything else). 
- Consider different fonts (can you import an LOTR font to use? 
- Add menu with ability to turn music on/off (update the musicOn bool in app.js).
- Consider adding cheats (probably to the above menu). 
- Add menu with ability to turn music on/off (update the musicOn bool in app.js).  
- Consider accessibility 
- Refactor code as necessary
- Review user requirements and stretch goals - have they all been met?
- Update readme and add project review */
